doctype html
html
  head
    title= 'Gym stats'
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon', href='/favicon.ico')
  body
    section
      include ./tiles/nav.jade
      block content