doctype html
html
  head
    title= 'Gym stats'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon', href='/favicon.ico')
  body
    section(class='container')
      header
        h1 Gym stats
      block content