body {
  font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 100;
  background: url('../images/sprinkles.png') repeat;
  padding: 2% 5%;
}
nav {
  float: right;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
}
nav a {
  padding: 1em;
  color: #000;
  font-size: 1.5em;
  text-decoration: none;
  border-bottom: 1px dotted #aaaaaa;
}
nav a:last-child {
  border-bottom: none;
}
nav a:hover {
  color: #00b7ff;
  border-bottom: 1px dotted #00b7ff;
}
nav a.active {
  color: #ff6b00;
  border-bottom: 1px dotted #ff6b00;
}
@media (min-width: 768px) {
  nav {
    flex-direction: row;
  }
  nav a {
    padding: .2em 1em;
    border-bottom: none;
    border-left: 1px dotted #aaaaaa;
  }
  nav a:first-child {
    border-left: none;
  }
}
