@import "variables";

body {
  font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 100;
  background: url('../images/sprinkles.png') repeat;
  padding: 2% 5%;
}

@import "nav";
